Esercizio1/*.csv
Esercizio1/*.o
Esercizio1/*.exe
Esercizio1/unity.c
Esercizio1/unity.h
Esercizio1/unity_internals.h

Esercizio2/*.csv
Esercizio2/*.o
Esercizio2/*.exe
Esercizio2/dictionary.txt
Esercizio2/correcteme.txt
Esercizio2/unity.c
Esercizio2/unity.h
Esercizio2/unity_internals.h

Esercizio3/classes/unionfindset
Esercizio3/*.jar


Esercizio4/classes/unionfindset
Esercizio4/classes/graph
Esercizio4/classes/kruskal
Esercizio4/classes/graphmfsetusage
Esercizio4/*.jar
Esercizio4/*.csv
